/*
Place your custom CSS here
*/
.widget-alias-tags {
    display: flex;
}

.alias-tag-container {
    display: flex;
    margin-right: 10px;
    border-radius: 5px;
    background: lightgray;
    height: 30px;
    align-items: center;
}

.alias-tag-icon {
    border: none;
    /* opacity: 0; */
    font-size: 20px;
}

.alias-tag-icon:hover {
    /* font-size: 22px; */
}

.alias-tag-button {
    border: none;
    background: rgba(0, 0, 0, 0)
}

.alias-tag-edit:hover {
    background-color: lightgreen;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.alias-tag-text {
    opacity: 1!;
    color: black;
}

.alias-tag-text .disabled {
    opacity: 0;
    color: black;
}

.alias-tag-text-disabled {
    pointer-events: none;
}

.alias-tag-text:hover {
    cursor: default;
}

.alias-tag-delete:hover {
    background-color: lightcoral;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.delete-mode {
    background-color: lightcoral;
}

.edit-mode {
    background-color: white;
}

.input-wrap {
    position: relative;
}

.input-wrap .input {
    position: absolute;
    width: 100%;
    left: 0;
}

.width-machine {
    /*   Sort of a magic number to add extra space for number spinner */
    padding: 0 1rem;
  }
  