/*
Place your custom CSS here
*/

.ev-workflow-container {
    display: flex;
    flex-wrap: wrap;
}
.ev-workflow-tag-padding {
    padding-bottom: 10px;
}
.ev-workflow-tag-container {
    display: flex;
    margin-right: 10px;
    border-radius: 5px;
    background: lightgray;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.ev-workflow-icon {
    border: none;
    opacity: 0;
    font-size: 20px;
}

.ev-workflow-button {
    border: none;
    background: rgba(0, 0, 0, 0)
}

.ev-workflow-edit:hover {
    background-color: lightgreen;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.ev-workflow-delete:hover {
    background-color: lightcoral;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.delete-mode {
    background-color: lightcoral;
}

.edit-mode {
    background-color: white;
}

.ev-workflow-input {
    padding-left: 5px;
    padding-right: 5px;
}

.ev-workflow-tag-container:hover .ev-workflow-icon {
    opacity: 1;
    animation: fade-in 0.25s;
}

@keyframes fade-in {
    0%   {opacity: 0;}
    25%  {opacity: 0;}
    50%  {opacity: 0.5;}
    100% {opacity: 1;}
}

.input,
.textarea {
  white-space: nowrap;
  cursor: default;
}

.input:focus-visible {
    outline: none;
    cursor: text;
}

.input-wrap {
  position: relative;
}
.input-wrap .input {
  position: absolute;
  /* width: 100%; */
  left: 0;
}
.width-machine {
  /*   Sort of a magic number to add extra space for number spinner */
  padding: 0 1rem;
}

.confirm-delete-text {
    width: 125px;
    padding: 0px 5px;
    text-align: center;
}

.confirm-delete-button {
    background-color: lightcoral;
    border: none;
    height: 100%;
}

.confirm-delete-button-left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: dimgray;
    color: white;
}

.confirm-delete-button-right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ev-workflow-admin-button {
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    height: 31px;
    margin-right: 10px;
    background-color: dimgray;
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
}

.ev-workflow-admin-button-view-all {
    min-width: 105px;
}

.ev-workflow-admin-button-add,
.ev-workflow-admin-button-view-all {
    transition: background-color 0.3s ease;
}

.ev-workflow-admin-button-add:hover,
.ev-workflow-admin-button-view-all:hover {
    background-color: rgba(255, 165, 0);
}

.ev-workflow-admin-button-add {
    min-width: 80px;
}

.ev-workflow-admin-button > i.mdi {
    font-size: 20px;
    margin-right: 5px;
}
  